In [18]:
from sklearn import svm
import pandas as pd
import math

df = pd.read_csv('iris.csv')

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [76]:
from sklearn.model_selection import train_test_split

all_x = df.iloc[:, 0:4]
all_y = df.iloc[:, 4]

X_train, X_test, y_train, y_test = train_test_split(all_x, all_y)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(112, 4) (38, 4) (112,) (38,)

In [81]:
clf = svm.SVC() #support vector classifier - Used for classification problems and categorizing data
clf.fit(X_train, y_train)

clf.score(X_test, y_test)

0.9473684210526315

In [80]:
print(X_train)

print() 

print(y_train)

     sepal_length  sepal_width  petal_length  petal_width
132           6.4          2.8           5.6          2.2
86            6.7          3.1           4.7          1.5
14            5.8          4.0           1.2          0.2
28            5.2          3.4           1.4          0.2
55            5.7          2.8           4.5          1.3
..            ...          ...           ...          ...
134           6.1          2.6           5.6          1.4
10            5.4          3.7           1.5          0.2
84            5.4          3.0           4.5          1.5
100           6.3          3.3           6.0          2.5
74            6.4          2.9           4.3          1.3

[112 rows x 4 columns]

132     virginica
86     versicolor
14         setosa
28         setosa
55     versicolor
          ...
134     virginica
10         setosa
84     versicolor
100     virginica
74     versicolor
Name: species, Length: 112, dtype: object

In [72]:
clf.predict(X_test[1:4])

array(['virginica', 'setosa', 'setosa'], dtype=object)

In [73]:
y_test[1:4]

121    virginica
1         setosa
27        setosa
Name: species, dtype: object